body {
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgrey;
}

header {
	padding: 10px 0 10px 0;
	text-align: center;
}

h1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

nav {
	text-align: center;
	padding: 10px 0 10px 0;
}

nav a {
	font-weight: bold;
	font-size: 20px;
	border-radius: 0px;
	color: white;
	background-color: grey;
	padding: 10px;
}

nav a:hover {
	background-color: black;
}

main {
	padding: 10px;
}

#shop {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid;
}

form {
	display: flex;
	flex-direction: column;
}

.shop-entry {
	padding: 5px;
	border: inherit;
}


#submit-button {
	font-weight: 700;
	font-size: 20px;
	border-radius: 0px;
	border: none;
	color: white;
	background-color: grey;
    margin-top: 1rem;
}

#submit-button:hover {
	background-color: black !important;
	cursor: pointer;
}

#submit-button:hover {
	background-color: green;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:hover:after {
    background-color: grey;
}

input[type="radio"] {
    margin-left: 0;
    width: 1rem;
    height: 1rem;
}

input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
	margin-top: 5px;
}

input[type="checkbox"]:checked {
	background-color: grey;
}

footer {
	margin-top: 2rem;
}

table, th, td {
	border: 1px solid black;
}

table {
	width: 100%;
}

.car-entry > p {
    color: red;
    font-size: 2rem;
}

@media screen and (max-width: 576px) { 
    nav {
        text-align: left;
    }
}

.easterEgg {
	display: none;
}
